
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}
.body-quiz {
    text-align: center;
    margin-top: 2%;
  /* background-color: #156478; */
  background-color: #0F4C75;
    display: flex;
    align-items: center;
  height: 100vh;

}
.body-result{
    text-align: center;
    margin-top: 2%;
  
  background-color: #0F4C75;
    display: flex;
    align-items: center;
 
}
.container {
   
   
    margin-top: 0;
    width: 600px;
   
 
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;

}
.container h1 {
    margin-top: 0;
    margin-bottom: 20px;
}


.add-class {
    margin-top: 1%;
        justify-content: center;

}
.con {

    width: 600px;
   
    padding: 20px;
    position: fixed;
    
    margin-bottom: 30px;
    background-color: #acb1b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    margin:  auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    
    text-align: center;
}

.con h1 {
    margin-top: 0;
    margin-bottom: 20px;
}
.question-form {
    width: 500px;
   
}
.options-form {
    width: 500px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5rem;
}
.container-home {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 50px; 
}


.home a {
    margin: 10px;
}

.question {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}


.options {
  
    text-align: left;
    margin-left: 10px;
}

.option {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 18px;
}
.option input[type="radio"] {
    margin-right: 5px;
    cursor: pointer;
    
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #22b65f;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color 0.3s;
    margin-right: 10px;
}
#toggleAnswersBtn {
    display: inline-block;
    background-color: #406cdb;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

#toggleAnswersBtn:hover {
    background-color: #1b3c6e;
}

.button:hover {
    background-color: #1b3c6e;
}

.result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;

}
.result p {
font-size: 18px;
margin-bottom: 10px;

}
.result .button {
   
    padding: 10px 20px;
    background-color: #1b3c6e;
    
}

.result .button:hover {
    background-color: #22b65f;
}


.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.time {
    font-size: 16px;
    font-weight: bold;
    color: rgb(113, 46, 46);
    z-index: 1;
    position: absolute;
}

.circle::before {
    content: '';
    
    border-radius: 50%;
    background-color: rgb(20, 6, 6);
    z-index: 0;
    position: absolute;
}

 
  .result-score {
    font-size: 1.2rem;
  }

  .toggle-btn {
    margin: 20px auto;
    padding: 10px 20px;
  }
  
  .checkbox {
    margin-right: 10px;
  }

.answers-list {
    list-style: none;
}

.body-index {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-color: #09021f;
    color: white;
}


.nav-link {
    color: white; 
}

a.btn:hover {
    background-color: #1ed760;
    border-color: #1ed760;
}

.card {
    margin: 20px; 
    background: none;
    border-radius: 8px;
}

h1.mb-4 {
    margin-top: 50px;
}

.cover {
   background-image: url("images/landingpage.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.cover-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    color: white;
}

#about h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#about .btn-outline-secondary {
    color: #bdd8f0;
    font-size: bold;
    border-color: #195e9a;
    transition: all 0.3s ease-in-out;
}

#about .btn-outline-secondary:hover {
    background-color: #45415e;
    color: #fff;
    font-size: bold;
    border-color: #012f58;
    
}

.card-no-bg {
    background: none;
}

.card-no-bg .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.card-no-bg .card-text {
    font-size: 1rem;
    color: #efe5e5;
}

.card-no-bg {
    background: none;
    transition: transform 0.3s, box-shadow 0.3s;
}


.card-no-bg .card-title {
    font-size: 1.5rem;
    font-weight: bold;

}

.card-no-bg .card-text {
    font-size: 2srem;
}

.card-no-bg:hover {
    color: #1ed760;
    transform: scale(1.08);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.card-no-bg:hover .card-title {
    color: #1ed760;
}



.con:hover {
    transform: scale(1.02);
}

/* Form elements */
h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ced4da;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
select:focus {
    border-color: #495057;
    outline: none;
}

button {
    display: block;
    padding: 12px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.question-form,
.options-form {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
}

.question-form:focus,
.options-form:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
}

button:focus {
    outline: none;
}

button:active {
    background-color: #003f7f;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}   



.list-group-item {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #e9ecef;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    transition: background-color 0.3s;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-primary {
    transition: transform 0.3s;
}

.btn-primary:hover {
    transform: scale(1.05);
}




p {
    margin-bottom: 0;
}
h1.mb-4 {
    margin-top: 5px;
}



/* quizzes */

.timer {
    font-size: 1.25rem;
    color: #ff4a4a;
}

.quiz-area {
    margin-top: 20px;
    text-align: left;
}



button {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0069d9;
    transform: scale(1.05);
}

.question-count {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

button, .btn {
    transition: all 0.3s ease;
}

.quiz {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 80px auto 80px;
    padding: 50px;
}
.quiz p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    
}


.quiz button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.quiz button:hover {
    background-color: #7190b2;
}


.container.result {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.result-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.result-score {
    font-size: 1.5rem;
    color: #156478;
    font-weight: bold;
}

.toggle-btn {
    background-color: #156478;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background-color: #104c59;
}

.answers {
    margin-top: 30px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.answers-list {
    padding-left: 0;
    list-style-type: none;
}

.answer-item {
    margin-bottom: 15px;
}

.question {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.option-item {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.checkbox {
    margin-right: 10px;
}

.correct {
    color: #28a745;
    font-weight: bold;
}

.incorrect {
    color: #dc3545;
    font-weight: bold;
}

.unanswered {
    color: #ffc107;
    font-weight: bold;
}

.button {
    display: inline-block;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.answers {
    transition: max-height 0.5s ease-out;
}
.user-avatar {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px; 
    border: 2px solid #163556;
}

.avatar-container { 
    display: flex;
    align-items: center;
    margin: 20px auto;
}
.select-avatar-btn {
    border: 1px solid #163556;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.avatar-label {
    display: block;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s;
}


.avatar-label:hover {
    border-color: #007bff;
}

.avatar-img {
    width: 100%;                    
    height: auto;  
    cursor: pointer;                 
    border-radius: 10px;            
    transition: transform 0.3s;
}

.no-full-height {
    height: auto;
}

.avatar-selected {
    border: 5px solid #007bff;
    transform: scale(1.1);
}
.avatar-img:hover {
    transform: scale(1.05);
}
.avatar-selected {
    border: 5px solid #007bff;
    transform: scale(1.1);
}


