<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz-App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1> Welcome to the Quiz App</h1>
    <div class="container text-center mt-5">
        
        


        <div class="mt-4">
            <a href="{{ url_for('app.register') }}" class="btn btn-primary">Sign up</a>
            <a href="{{ url_for('app.login') }}" class="btn btn-secondary">Login</a>
            <a href="{{ url_for('app.dashboard') }}" class="btn btn-danger">Dashboard</a>
        </div>
    </div>
</body>
</html>