<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"></noscript>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="body-quiz">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Quiz App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a href="{{ url_for('app.landingpage') }}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{{ url_for('app.dashboard') }}" class="nav-link">Dashboard</a></li>
                <li class="nav-item"><a href="{{ url_for('app.leaderboard') }}" class="nav-link">Leaderboard</a></li>
                <li class="nav-item"><a href="{{ url_for('app.logout') }}" class="nav-link">Logout</a></li>

                </ul>
            </div>
        </div>
    </nav>
         <div class="container quiz">
        <h1>Quiz App</h1>
        <p id="timer" class="timer-circle"></p>
        <div id="timer-container">
            <svg id="timer" viewBox="0 0 100 100">
                <circle cx="50" cy="50" r="45" class="outer-circle" />
              <circle cx="50" cy="50" r="45" class="inner-circle" />
            </svg>
            <div id="question-count" class="question-count"></div>
        </div>
       
        
        <div id="quiz"></div>
        <div id="result" class="result"></div>
        <button id="prev" class="btn btn-secondary  ">Previous</button>
        <button id="next" class="btn btn-primary quiz-buttons">Next</button>
        <button id="submit" class="btn btn-primary quiz-buttons">Submit</button>
      </div>
      <script>
        <!--
        const quizData = {{ questions | tojson }};
        quizData.forEach(question => {
          question.quiz_id = {{ quiz.id }};
      });
      if (!quizData || quizData.length === 0) {
            document.getElementById('quiz').innerHTML = '<p>No questions available</p>';
        }
        -->
      </script>
    <script src="{{ url_for('static', filename='script.js') }}"  defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>