<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" crossorigin="anonymous">
    <title>Registration Page</title>
</head>
<body class="body-quiz body-register">

    <div class="container">
        {% if message %}
        <div class="alert alert-{{ message_class }}">
          {{ message }}
        </div>
      {% endif %}
      {% if error %}
  <div class="alert alert-danger">
    {{ error }}
  </div>
{% endif %}
        <h1 class="bg"> Quiz App</h1>
        <p class="log">Create a new account</p>
        <form action="/register" method="POST">
            <div class="mb-3">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    <span class="input-group-text" onclick="togglePassword()">
                      <i class="fas fa-eye" id="password-icon"></i>
                    </span>
                </div>
            </div>
             <div class="mb-3">
                <label for="security_question" class="form-label">Security Question</label>
                <select name="security_question" class="form-select" required>
                    <option value="">Select a security question</option>
                    <option value="What is your mothers maiden name?">What is your mothers maiden name?</option>
                    <option value="What was the name of your first pet?">What was the name of your first pet?</option>
                    <option value="What city was your first school?">What city was your first school?</option>
                </select>
             </div>
             <div class="mb-3"> 
                <label for="security_answer" class="form-label">Your Answer</label>
                <input type="text" class="form-control" id="security_answer" name="security_answer" placeholder="Your Answer" required>
             </div>
            <button type="submit" class="btn btn-outline-primary register">Register</button>
            <div class="footer-links">
                <a href="{{ url_for('app.login') }}" class="account">Already have an account?</a>
            </div>
    
        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
